<h1>URL helpers</h1>

<a href="/numbers">Numbers</a>
<a href="/text">Text</a>
<a href="/assets">Assets</a>
<a href="/url">URLs</a>

<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>
<%= link_to "Number", numbers_path %>


URLs change and updating them by hand sucks.

